*{
    margin:0;
    padding:0;
    
    font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
  /* max-width: 1450px; */
 
}

 .navbar{
    
    /* background-color: aqua; */
     /* border: 2px solid tomato; */

    margin:95px 120px 0px 120px ;
    display: flex;
    justify-items: center;
   justify-content:  space-between;
    
}

 .menu {
    display: flex;
    flex-direction:row;
    justify-content: center;
    text-decoration: none;
    gap: 35px;
}

.banner{
    display: flex;
    margin: 50px 132px 0px 120px ;
    justify-items: center;
    justify-content: space-between;
    /* width: 1700px;
    margin: 0 auto; */
    max-width: 1450px;
}
.banner-text{
    margin-top: 145.8px;
    margin-right: 133px;
    
}
.banner-text h1{
    color: #3A3A3A;
    font-size: 52px;
    line-height: 70px;
    gap: 16px;
   
}
.banner-text p {
    font-size: 16;
    color: #3A3A3A;
    font-weight: 600;
    gap: 16;
    margin-top: 16px;
}

.btn{
    border-radius: 16px;
    background-color: #E02C6D;
    padding: 10px 24px;
    margin-top: 16px;
    color: white;
    border: none;
    width: 196px;
    height: 44px;
   
}
.image{
    /* width: 440px;
    height: 441px; */
    background-image: url(./influencer-gear/images/Circle\ design.svg);
    
    width: 475px;
    height: 476px;
}
 .grid-item {
   
    display: grid;
    grid-template-columns:repeat(7, 1fr);
    gap: 10px;
    justify-items: center;
     margin-top: 80px;        
  padding: 40px 0;

}
.grid-container{
   display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #eee;
  /* border-top: 1px solid #eee; */
   max-width: 1100px;
  margin: 0 auto;
 
  
}
.grid-container img{
     opacity: 0.85;
  transition: 0.3s ease;
}

.grid-container img:hover {
  opacity: 1;
  transform: scale(1.08);
}

/* Popular-Collection */
.Popular-Collection{
    margin: 100px 196px;
   
    justify-content: center;
    
    
}
.card-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
 .title {
    /* display: flex;
    justify-content:center ;
    margin-bottom: 60px; */
    font-size: 28px;
    font-weight: 900;
    color: #3A3A3A;
    line-height: 70px ;

   text-align: center;
 }
 .card {
   /* border: 2px solid black; */
   border-radius: 10px;
   /* width: 330px; */
   height: 550px;
   box-shadow: 0 6px 50px 0 #00000027;
   padding: 30px;
 }
 .card img{
    
    width: 100%;
  margin-bottom: 25px;
 }

 .card, .text {
    margin-bottom: 20px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-size: 24px;
 }

 .card, h3 {
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 24px;
}

 .card p{ 
    color: #787885;
    font-size: 14px;
    font-weight: 700;
    
 }
/* Featured */
 .Featured{
    margin: 100px 165px;

 }
 .Featured-container{
    display: flex;
    /* justify-content:space-between; */
    gap: 150px;

    
 }
 .Featured-content{
    margin: 23px;
 }

 .Featured-content h1{
    color: #0A0826;
    font-size: 38px;
    font-weight: 700;

 }
 .Featured-image{
    width: 440px;
    height: 270px;
    
 }
 .Featured-container p{
    margin: 16px 0px;
    color: #6C6C6C;
    font-size: 16px;
    line-height: 28px;
 }
      /* Footer */
 footer{
    background-color: #0a0826;
    /* margin-bottom: 50px; */
   
 }

 
 .footer-text {
    justify-items: center;
    color: white;
 }

 .web-logo{
   display: flex;
   justify-content: center;
   margin-top: 16px;
   /* margin-bottom: 16px; */
    gap: 16px;
 }
 .web-logo i{
   color: white;
 }
 